[2016-10-19 16:04] Jopyth opened #2 "Ignore stations close to the original station"
If a station is close to the original station, the module displays lines which stop at both stations multiple times. Is it possible with the underlying `vbb-hafas` to ignore nearby stations and show departures from the original station only? I.e. if I want to show Departures from Potsdam Hauptbahnhof, ignore departures from Lange Brücke, since many trams stop at both stations, but showing it once

[2016-10-19 16:14] deg0nz commented on #2
Yes, you're right. I'll look into it. Thanks for the PR, by the way :)

[2016-10-20 13:47] deg0nz commented on #2
Okay, I see you problem. When I enter Potsdam Hauptbahnhof as station, I get results for "Potsdam Hauptbahnhof Nord" and "Lange Brücke" too.
I can't tell `vbb-hafas` to just get information of one station, but I can filter the results that should be shown on the mirror by the `stationId`.

I'll implement this as default behaviour.

[2016-10-20 14:15] deg0nz commented on #2
But I see, that filtering for only one `stationId` leads to loosing different kinds of transportation methods. For example Bus and Tram stations at Alexanderplatz have other station IDs altough they have the same name.

Would it be OK for you, If I provide a possibility to filter the stations you don't want to have in the list? Like a variable  with a list. e.g.:
`ingoreStations = '9300129,837646,

[2016-10-20 16:21] Jopyth commented on #2
Sounds good, then I can just keep one Tram station, and filter the others.

[2016-10-20 21:50] deg0nz commented on #2
@Jopyth: I added the functionality for ignoring stations. Could you please verify is it works for you?

[2016-10-21 07:17] Jopyth commented on #2
Thank you! Will do that on Monday.

[2016-10-29 16:17] Jopyth commented on #2
Finally was able to test the module. Everything works fine. I will make some modifications to the module, though, mostly visual options. As soon as I am finished I will make a PR, so you can integrate them if you want.

[2016-10-29 16:17] #2 closed

[2016-12-30 18:34] thobach opened #3 "TypeError: depArray[(i + 1)] is undefined"
Sometimes the following error is shown in the user interface:

TypeError: depArray[(i + 1)] is undefined

I assume this appears when there is just 1 entry, in which case depArray[1], if i = 0, does not exist.

[2016-12-31 13:40] deg0nz commented on #3
Thanks for reporting!
I'll look into this asap.

[2017-01-01 16:09] deg0nz commented on #3
Hey, @thobach!
I added a check for that. Could you please pull the latest commit and tell me, if it works for you?

...and maybe you should tweak your `delay` time and your `departureMinutes`  time combinations if there's only one reachable departure in the list/array.

Thanks in advance!
And a happy new year 2017 ;)

[2017-01-09 22:14] aduewel opened #4 "stuck at "Loading ...""
Hi,

I just tried out the MagicMirror² (current master 8010e6220d4cc68e9f9e3c1029998cc47df0f193) and your this module (current master, too). Run the `npm install`, but sadly it does not load the departure times, and got stuck at `Loading ...`

OS: Debian 8
Node: v5.12.0

my config:
[code]

`node serveronly` output after loading the page:
[code]

I have tried different stations and the one from you

[2017-01-10 09:19] deg0nz commented on #4
Thanks for reporting!

I'm using node version 6.4.0 on my Mirror.
Could you please update your node version and test, if it's working?

I'm using lots of ECMAScript 6 features in the code and it could be, that some features are not supported in node 5.

[2017-01-10 14:13] aduewel commented on #4
Hi @deg0nz,

your right, an update of nodejs to 6.9.x (the version installed with the MagicMirror² Raspberry install script) solved the problem.

Thank you!

[2017-01-10 14:13] #4 closed

[2017-01-10 14:16] deg0nz commented on #4
Ok, thanks. I'll add a hint to the readme, that the minimum NodeJS version for this module will be > 6.0.0

[2017-01-18 14:04] fry0815 opened #5 "Display error"
There is a display error, if the type of the train is e.g. "ICE, IC, LOC, EC".
They are displayed as "undefined" or "LOCOMORE" with yellow background.
Look at this example of ICE|EC
![ice ec](https://cloud.githubusercontent.com/assets/5508344/22066864/3547336e-dd8f-11e6-8fbc-0294f941759a.png)
or this example of LOC (what ever this is o.O)
![loc](https://cloud.githubusercontent.com/assets/5508344/2

[2017-01-19 10:05] deg0nz commented on #3
hey, @thobach, any news?

[2017-02-21 20:50] deg0nz commented on #5
I'll try to look into this in the next days. Can't promise it though.

[2017-02-23 14:33] deg0nz commented on #3
No feedback for 1 month now. I assume the error is fixed properly. I'm Closing this issue now. If anyone is still encountering this issue, feel free to reopen it again.

[2017-02-23 14:33] #3 closed

[2017-03-08 12:35] deg0nz opened #6 "Implement relative time label"
Implement an optional function that shows relative times instead of absolute times for departures.

Idea:

2 update intervals:
* 1 for updating time labels
* 1 for updating actual data (which is already there)

[2017-03-08 12:47] deg0nz opened #7 "Provide translation"
Add automatic translation for table headings and other hardcoded strings

[2017-03-22 15:54] Sinned80 opened #9 "S-Bahn departures in Region Hannover not displayed"
Hi,

it seems that the S-Bahn departures in REgion Hannover are loaded by the backend but not displayed ín the list on MagicMirror.

I've checked this for Barsinghausen (station ID 8000812) and Egestorf(Deister) (station ID 8001675). Bus departures are correcly displayed (both stations handle bus and S-Bahn; not more)

After enabling lines 69+70 in DbFetcher.js the console shows this
Parsing: Bus

[2017-03-22 18:40] #9 closed

[2017-03-23 10:16] deg0nz commented on #9
Hey @Sinned80 I think, your Issue is wrong here. You should issue it to [https://github.com/olexs/MMM-PublicTransportDB](https://github.com/olexs/MMM-PublicTransportDB).

...but I see the last commit of his module seems to fix your issue. All good :)

[2017-03-25 14:03] deg0nz opened #10 "Change module design to look like VBBNow"
Change the module Design to look like the [VBBNow](https://github.com/docterd/VBBNow) macOS widget.
(For the departure entries)

Maybe leave the current design as fallback option or so.. (for people who don't like the new design..)

[2017-04-29 20:38] pauabaer opened #11 "Hide single lines on a station"
It would be cool if you can hide special lines on a station instead of the whole station. It could be useful when you only need one line of e.g. four lines on this station.

[2017-05-11 14:14] fry0815 commented on #5
Hi, maybe i fixed that. I test it in the next days. If it's fine, you get a PR.
And "LOCOMORE" is not a bug, it's an new line...

[2017-05-20 21:28] derhuerst opened #14 "transport.rest is deprecated"
Hey! This is the author of [vbb-rest](https://github.com/derhuerst/vbb-rest), deployed at `transport.rest`. Nice to see that you (seem to) use my service!

I'm here to let you know that **The API & format deployed at `transport.rest` is deprecated. Please use the new API, deployed at `vbb.transport.rest`.** You can find docs for the new format in the [`vbb-rest` repo](https://github.com/derhuerst/

[2017-05-20 21:37] deg0nz commented on #14
Hey, @derhuerst

Thx for the info! When will the old service stop working?

[2017-05-20 23:46] derhuerst commented on #14
@deg0nz I put an error in place on every fifth response to let people know (unfortunately I failed to build a proper mechanism up front).  I will remove that again soon and keep it running for about a month. Keep in mind that `transport.rest` may now contain outdated data, as the [static modules](https://github.com/derhuerst/vbb-modules/blob/2b3bb2d/readme.md#static-data) is relies on are outdated

[2017-06-01 09:20] M1dn8 opened #15 "Module is not showing anymore"
Hey there,

after I installed my MM-config completly new, the MMM-PublicTransportBerlin won't load anymore.
Before all was fine...can everybody help me or have the same problem?

thx

[2017-06-05 17:23] rejas commented on #15
Any logs or errors you can provide? Or your config file?

[2017-06-06 13:02] M1dn8 commented on #15
Hey rejas,
thx for ur answer.

So sry no errors or untypical in the logs.

I think my config is fine, cause the mm is starting and the module show "Laden". I try the dafault config too but same bug. Maybe something change in the way the module works?!

Here is my config

{
                        module: 'MMM-PublicTransportBerlin',
                        position: 'bottom_right',
			//classes: '

[2017-06-06 20:18] rejas commented on #15
What node version are you running?

[2017-06-06 20:27] rejas commented on #15
Reason I ask is because I dont have problems with your config on my raspberry (with node6) but with Node8 on my mac I dont get beyond the "laden" message neither (and logs show this:
`
(node:42964) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'type' of undefined
(node:42964) [DEP0018] DeprecationWarning: Unhandled promise rejectio

[2017-06-07 07:49] rejas commented on #15
Well, cant be node.js, can reproduce it on node6.10.3.

[2017-06-07 08:14] rejas commented on #15
Mmmmhhhh... further inspecting the code I see that the VBBFetcher.fetchDepartures gets data that is different than what processData later on expects. The field "product" is nowhere to be found in the data fetched from the vbb-client yet it is referenced a few times (and triggers the error therefor):
`!this.config.excludedTransportationTypes.includes(row.product.type.type))`
and
`
                l

[2017-06-07 08:45] deg0nz commented on #15
Hey guys,
I'm sorry for the bad communication in the last time.
I'm aware of that issue with the data, because @derhuerst said that he would change the api.

Unfortunately I have not much time to do something about it right now.
It's on my schedule for next week some time... So please be a little patient, I'm gonna fix it asap.

If you want, please feel free to send a pull request with a fix, I'd

[2017-06-07 09:04] rejas commented on #15
You got any links for the info on what changed? Maybe I find some time this week :-)

[2017-06-07 12:12] M1dn8 commented on #15
hey guys,

really thank u gor ur help 👍🏼

I read about the changes yesterday here https://github.com/deg0nz/MMM-PublicTransportBerlin/issues/14
So but I'm not so cool with all this stuff...so very happy to hear that u will fix it...it's one of the main functions on my mm so very thank u!

Greats

[2017-06-07 15:58] derhuerst commented on #15
You shouldn't use `latest` as the version of `vbb-client`. By doing this, you expose your app to any breaking change occurring in its dependencies. Use the caret symbol (`^`) to express the version you want, e.g. `^1.0.0` in this specific case.

Background: [`vbb-client`](https://github.com/derhuerst/vbb-client#vbb-client) is the client to the public transport API that I provide. It follows [SemVe

[2017-06-07 18:12] rejas commented on #15
That version update explains why my mirror still works, packages were installed pre-2.0.0. Will provide a PR to get it working with v1 for now. Will have alook at the new format later.

[2017-06-07 18:14] rejas commented on #15
In the meantime @M1dn8 you can use my branch at https://github.com/rejas/MMM-PublicTransportBerlin/tree/vbb_client1 to try out your mirror.

[2017-06-14 07:49] deg0nz commented on #15
Ok, I Merged PR #16 and pulled the git on my mirror. It seems to work.

As I said, I hope I can start integrating `vbb-client@2.0.0` into `MMM-PublicTransportBerlin` this week.

@M1dn8: Please do a `git pull` in the `MMM-PublicTransportBerlin`-folder on your mirror. (Maybe you need to restart the MM-Application for the changes to take effect)
If this is working for you, please close this issue :)

[2017-06-14 18:58] M1dn8 commented on #15
hey guys,

thx all of u for working together to fix this problem!
And YES it works for now...

Looking forward to see the new update with the new style.

thank you for ur work

greets

#close for now ;)

[2017-06-14 18:59] #15 closed

[2017-06-15 16:34] derhuerst commented on #14
FYI: I will shut off `transport.rest` in a week. See also https://github.com/deg0nz/MMM-PublicTransportBerlin/issues/15#issuecomment-306840657

[2017-06-18 15:44] deg0nz opened #17 "Recognize Tram line colors and show them in the module instead of the red-ish Tram color for all Trams"
Line colors in SVG images here:
https://en.wikipedia.org/wiki/Trams_in_Berlin

[2017-06-18 16:17] deg0nz commented on #14
Added support for `vbb-client@2.0.0` in c82d4b0.

[2017-06-18 16:17] #14 closed

[2017-06-18 16:23] deg0nz opened #18 "Use vbb-short-station-name to trim Station names"
Use https://github.com/derhuerst/vbb-short-station-name to trim station names when marqee for the station names is turned off

[2017-06-18 16:28] deg0nz commented on #15
I added support for `vbb-client@2.0.0`. Everything should now work as expected.

Please note, that you should execute `npm install` in the `MMM-PublicTransportBerlin` directory to use version `2.0.0`.

[2017-06-18 17:33] deg0nz commented on #11
Hey, @pauabaer
I added this feature with commit f5a537e.
Please look up the readme for usage of the `ignoredLines` option. ;)

So I'm closing this issue now.

[2017-06-18 17:33] #11 closed

[2017-06-19 08:23] deg0nz commented on #10
Use https://github.com/derhuerst/vbb-logos for the logos

[2017-06-19 08:48] deg0nz commented on #5
Since PR #13 fixed this issue, I'm closing this now.

Thanks for your work @fry0815!

[2017-06-19 08:48] #5 closed

[2017-06-19 13:17] derhuerst commented on #14
Will shut off the old endpoint on Friday.

[2017-06-23 21:59] derhuerst commented on #14
Will shut it off now.

[2017-06-23 22:15] deg0nz commented on #14
Thanx again for the info!
Vbb-client V.2.0.1 is supported by my module and it's working fine.

The users have to update their modules if they encounter errors..

[2017-07-02 15:09] deg0nz opened #21 "Provide possibility to display time "app-like""
Currently, the times in the module are shown *with* the delay included, because`vbb-rest` provides them like this.

Provide a config switch to show the delay times like they are shown in the BVG app.
(The originally scheduled time without the delay time)

[2017-07-14 18:42] ROMSY-SAN opened #22 "can't run MM when your module is activ...."
Hi, i just installed your module on my Raspberry Pi 1 (Model B) with Midori Browser.
unfortunately whenever i put your example in my config.js i can't run Magic Mirror anymore , i just get an error that the server can't be loaded.
When i remove your example everything works like normal. Any way i can provide more info, so you can see why it doesn't work? (Or Tips what i should do?)

[2017-07-15 10:10] deg0nz commented on #22
Hey, the problem is, that this module needs NodeJS version > 6.0.0, because it uses Next generation Javascript features (ECMAScript 6).

Unfortunately the Midori Browser does not support these language features. So the module doesn't work in it :(

I can't really help you right now, because I have no access to my computer this weekend.

I can popose the following:
Try to use a Javascript transpile

[2017-07-15 14:09] ROMSY-SAN commented on #22
hey thanks for the reply :)
i think waiting is the better option (or if i get inpatient i going to buy a new pi, so that my pi2 will work as Magic Mirror ;)

[2017-07-15 22:42] deg0nz commented on #22
Ok. I'd really recomment to buy a Raspberry Pi 3.
In my experience, the MagicMirror App runs much smoother on it. And you will be able to use the Onboard Wifi of the Pi 3.

[2017-08-14 09:30] ROMSY-SAN opened #23 "ignored stations problems"
Hey again, i don't really know if i am too stupid or if it don't really work.

so i am living on the edge of fisherinsel. Around the corner I've got "Märkisches Museum"

so i wanted to ignore the busses which drive in the direction "Märkisches Museum" / "Ostbahnhof"
                                name: "Fischerinsel",
                                stationId: 900000100526,

[2017-08-15 09:38] deg0nz commented on #22
Since nothing happened here for more than a month now, and you mentionened a RPi3 in #23, I'm closing this now.

[2017-08-15 09:38] #22 closed

[2017-08-15 09:55] deg0nz commented on #23
Your first issue is, because the `ignoredStations` function is not actually made for filtering directions but for filtering sub-stations around your main station.
I'm not really sure, if I understand what you want to do... Do you want to remove a direction from the list? Or do you want do remove a sub-station from the list?

If you want the module to show only one direction:
In fact, this feature

[2017-08-15 10:11] tekki-2014 opened #24 "Module display only Loading on the Mirror"
I have installed the module MMM-PublicTransportDB and adjusted the Config.
After a reboot this mirror appears at the module position only Loading …
What do I have to adjust to make the module work?
Here is my config
{
    module: 'MMM-PublicTransportDB',
    position: 'top_right',
    config: {
        name: "Bahnhof",
        stationId: 8000139,
        hidden: false,
        ignoredStations: [],

[2017-08-15 10:56] #24 closed

[2017-08-18 16:26] ROMSY-SAN commented on #23
yep, totally misunderstood the function, sorry.
"Show only one direction" was the feature that i am looking for +1

[2017-08-19 13:19] deg0nz commented on #23
So, commit  8c5e69f implements this feature via the `directionStationId` variable. Some words about that:

After some tests, the data delivery of this feature seems not to be as reliable as the normal version. Also, please make sure you actually have the right stationId for the direction station. Please check your MagicMirror log for errors before reporting them.
Additionally, more requestet resul

[2017-08-19 13:19] #23 closed

[2017-09-19 16:08] Snake16547 opened #25 "502 error"
Right now there only 502 errors incoming, that is not really a module problem right?

https://imgur.com/BisDTOU

[2017-09-19 16:26] deg0nz commented on #25
Yes, this means that the module is working fine. The data source seems to have problems delivering the data. It's a normal 502 HTTP status code.

You can check the availability of the VBB REST API here:
https://status.transport.rest/

(The source, where the module gets is data is "vbb.transport.rest departures")

[2017-09-19 16:27] Snake16547 commented on #25
thanks!

[2017-09-19 16:27] #25 closed

[2017-12-07 13:43] deg0nz opened #26 "Add canceled trips function"
Add canceled trips function to mark canceled trips in the module with strikethrough or  'canceled'-label.

[`hafas-client` v1.3.0](https://github.com/derhuerst/hafas-client/commit/4ee1b27ae61d6923d77bbbb6bf025dc2049eaaef) supports this.

[2017-12-07 19:02] derhuerst commented on #17
See also [`vbb-util/lines/colors.json`](https://github.com/derhuerst/vbb-util/blob/master/lines/colors.json). I plan to deprecate this module in the future, but for now, you're fine to use it. 😉

[2017-12-07 19:34] derhuerst commented on #26
The changes should be live at `vbb.transport.rest` now. It's hard to test wether everything works though, as only very few departures get canceled.

[2017-12-13 21:16] deg0nz commented on #17
@derhuerst This is nice, thank you! what will happen, when du deprecate this? Can I access the data elsewhere then?

If not, I'll just build a CSS file for my module out of your JSON...

[2017-12-13 22:06] derhuerst commented on #17
Yes, I will (of course) make this machine-readable and easily accessible just as before.

[2018-02-24 20:46] derhuerst opened #27 "vbb.transport.rest is deprecated"
Hey! This is the author of [vbb-rest](https://github.com/derhuerst/vbb-rest), deployed at `vbb.transport.rest`. Nice to see that [you (seem to) use my service](https://github.com/deg0nz/MMM-PublicTransportBerlin/blob/101eb2ebcb88fad1164950b854eb8e9f6b2a8056/README.md#how-to-get-the-stationid)!

I'm here to let you know that **The API & format deployed at `vbb.transport.rest` is deprecated. Please

[2018-02-27 08:15] deg0nz commented on #27
Thanks for the hint! I alway appreciate your nice depcrecation notes. :) So thank you for that!

Since commit a2cb835 the module uses `vbb-client@3.0.1` so the new endpoint uses `2.vbb.transport.rest`. Closing.

[2018-02-27 08:15] #27 closed

[2018-02-27 09:05] deg0nz commented on #26
Commit 2f80af0 implements this.

[2018-02-27 09:05] #26 closed

[2018-02-27 10:48] deg0nz commented on #21
Commit 2f80af0 implements this feature via the `excludeDelayFromTimeLabel` flag. This defaults to `false`.

[2018-02-27 10:48] #21 closed

[2018-02-28 15:27] Wominator opened #28 "Config file error after update"
Hi deng0nz,

great module, great work. I have updated to the new version and also your new entry for the config.js, but I always get the "config file error". Even when I take a blank config.js with just MMM-PublicTransportBerlin and your "Alexanderplatz" entry as a single module. Tried everything, like js-linter and so on, nothing worked out.

Any idea?

Thanks in advance
wominator

[2018-02-28 15:30] rejas commented on #28
Had some trouble updateing too. Two things changed which I had to fix in my config:
a) stationId is now a string (was int before), so add some '...' around it
b) delay got renamed to travelTimeToStation

[2018-02-28 15:48] deg0nz commented on #28
Thanks for your hints @rejas!

Yes, due to API changes, the stationId must be a string now (like `'90000010000'` for Alexanderplatz) unfortunately I wasn't able to provide a backwards compatibility for this value...

The `delay` option should still work, but will be removed in a future release, so it's better to change it now to `travelTimeToStation` :)

I'll leave this issue open if more people h

[2018-02-28 15:52] deg0nz commented on #28
@Wominator if you're still experiencing the issue, could you paste your config here?

[2018-02-28 16:00] Wominator commented on #28
Hi!
If I tjust do the suggested changes to my original config, the mirror crashes completly. When I use the following config, I get the mentioned config error.

`/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information how you can configurate this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {

[2018-02-28 16:01] Wominator commented on #28
`/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information how you can configurate this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {
	address: "localhost", // Address to listen on, can be:
	                      // - "localhost", "127.0.0.1", "::1" to listen on loopback interface

[2018-02-28 21:35] deg0nz commented on #28
hmm... this is weird. I could imagine, that the last comma behind the `MMM-PublicTransportBerlin` module should be removed.

Did you try the `npm run config:check` command in your MagicMirror folder?

[2018-02-28 21:45] Wominator commented on #28
Hi!
Yes, removed the comma, took every separate line out, one by one with //, restartet the mirror, always the same, config  error. When I follow the given instructions, 'stationID' and so on, the screen stays black after restart, without error message.
Unfortunenatly, I installed the module on a mirror for the company, 4 times, for different stations.
Regards
Womi

[2018-02-28 21:48] Wominator commented on #28
Sorry for being not precise:

"Unfortunenatly, I installed the module on a mirror for the company, 4 times, for different stations."
It  worked out for several month with 4 instances on a 49 inch mirror, flawless.

[2018-02-28 21:57] deg0nz commented on #28
Did you try deleting the `node_modules` folders for the module and the mirror app itself and run `npm install` on both levels again? Sometimes npm breaks things with old versions...

And please check your config with `npm run config:check`in the mirror-folder

[2018-02-28 22:04] Wominator commented on #28
I'll double check it later, not at home. I removed the MMM-Public... folder and did a clean install of the new version. No success.
"Npm run..." stops with error "can't access folder / file", latest version of MagicMirror installed.
Regards
Womi

[2018-02-28 23:03] Wominator commented on #28
Hi again.
I deleted the 'nodes_modules', did a 'git pull && npm install', ran 'npm run config:check', found out, that in the line 'ignoredLines:' a comma was missing. Then I removed everyting within ' [ ] ' ran 'npm run config:check' again. No errors. Restarted MM, output: Black screen without error message.
Then I removed the MMM-Pub.. from config.js, just the clock module enabled, restarted the

[2018-02-28 23:12] deg0nz commented on #28
Hmmm...

One thing you could try is checking the mirror logs. If you start the mirror app with `pm2`, you can check them with a command like `pm2 logs mm` ( when you configured it as in the MM wiki).

If not, you could accept your pc‘s ip in the IP whitelist of your config and connect to the mirror on port 8080 via browser and use the developer tools of your browser to check the logs.

Maybe that

[2018-02-28 23:23] deg0nz opened #29 "Wrong calculation of reachable departures"
Sometimes, the reachable departures are not calculated correctly. Especially around 00:00.
This needs investigation.

[2018-03-01 13:45] Wominator commented on #28
Hi again!
I uninstalled reinstalled the module again, no the MM starts, but doesn't show the 'MMM-PubilcTransportBerlin' module.

`pm2 logs mm` red part:
`/home/pi/.pm2/logs/mm-error-0.log last 15 lines:
0|mm       |     at Module._compile (module.js:556:32)
0|mm       |     at Object.Module._extensions..js (module.js:565:10)
0|mm       |     at Module.load (module.js:473:32)
0|mm       |     at t

[2018-03-01 13:46] Wominator commented on #28
Sorry, wrong button.

[2018-03-01 21:24] deg0nz commented on #28
The first message says, that `vbb-client` is missing. Did you run `npm install` *in the folder of the `MMM-PublicTransportBerlin` module*?

Also, the line `No helper found for module: MMM-PublicTransportBerlin.` of "the green part" is weird. could you re-check, if all the files from the repository are present? This says, that the module helper is missing....

[2018-03-01 22:03] Wominator commented on #28
Hi!
I did a clean install of the module. Ran npm install without errors. I even tried to install the VBB client it self, no success. How can I check, all files are in place?

[2018-03-02 06:20] rejas commented on #28
Look into this directory ```MagicMirror/modules/MMM-PublicTransportBerlin/node_modules```: (adjust to where you installed MagicMirror @Wominator )

Mine has those contents including the vbb-client:

[code]

What does yours contain?

[2018-03-02 09:30] Wominator commented on #28
Hi!
So.... After deleting the MMM-Public... folder again, reinstalling the module another time, running npm install, and so on, it works know. Don't know what happend or is different this time.
Thanks a lot for your support and your patience.

Regards
Womi

[2018-03-03 19:08] deg0nz commented on #28
Okay, I'm glad it finally worked. :)

I'm closing this issue now. If you encounter errors again, feel free to reopen this issue.

[2018-03-03 19:08] #28 closed

[2018-03-08 09:26] deg0nz opened #30 "Standardize the use of quotes for strings"
Currently, single qoutes and double qoutes are mixed in the whole code.
Convert the whole code to one variant of them and stick with it in the future

[2018-03-12 18:09] deg0nz commented on #7
Commit f853d63 implements translation for english and german.

[2018-03-12 18:09] #7 closed

[2018-03-12 21:12] deg0nz commented on #30
Commit 3381bab does that.

[2018-03-12 21:12] #30 closed

[2018-03-13 13:01] berlincount opened #31 "On fetch failure the previous result is discarted"
I keep seeing fetch failures (400), while the data from the previous fetch would still be current enough to display _something_ ..

Maybe keeping the last result until the next successful fetch would make sense?

[2018-03-13 13:31] deg0nz commented on #31
Yes, this could make sense, but I think we would have to specify a time for which the old data is still "fresh enough" to be kept.
So we need some kind timeout time for the old data until we finally show the fetcher errors and remove the old data...

[2018-03-13 13:35] berlincount commented on #31
Well, marking it stale can be done immediately either way .. no upcoming trains known anymore is the ultimate error state ..

[2018-06-04 17:41] derhuerst commented on #27
I've shut it off now.

[2018-06-07 09:48] thiemt opened #32 ""Fehler bei Daten abrufen" - Problems to fetch Data"
I get the following error Message display at the Mirror:

"Fehler bei Daten abrufen: {"isHafasError":true,"message":"Internal Server Error","statusCode":500}
Das könnte heißen, dass VBB-Daten gerade nicht verfügbar sind."

I used the sample config, and also reinstalled everything. But even after waiting a few days I get this message. So I think it is not a due to  unavailability of the VBB Backend

[2018-06-07 10:22] deg0nz commented on #32
Could you please try to update your module? The API endpoint changed and old versions do not support it anymore. Newer versions support the new endpoint.

[2018-06-18 08:22] berlincount commented on #32
didn't help for me :( still not getting any data. latest git, latest npm modules, etc.

some commit missing?

[2018-06-18 08:40] deg0nz commented on #32
hmm.. this is weird.
The problem is, I currently haven't set up my mirror, because i moved into a new flat... So I can't test stuff.
I'll check things on my mirror asap and will give you some feedback...

[2018-06-18 08:51] deg0nz commented on #32
But actually, the current version with a fresh `npm install` should work (theoretically). I'm using it on my mirror for some time now... I Implemented to use `vbb-client` > 3.0.0 some months ago as mentioned in #27 .

Some people in the MagicMirror forum also had strange behaviour updating this module in the past... Have you tried a new install with deleting the whole `MMM-PublicTransportBerlin` f

[2018-06-18 19:51] floge77 commented on #32
Same here for me. Any recommendations how to Debug? Would like to help with debugging...

[2018-06-19 12:21] deg0nz commented on #32
I'll try to turn on my mirror tonight and look into this when I get home...

@floge77
you could write a small test-program which checks if the [Fetcher-Prototype](https://github.com/deg0nz/MMM-PublicTransportBerlin/blob/master/VbbFetcher.js) is working correctly. You just have to call the `fetchDepartures` function and see, if it is working correctly. This one:
https://github.com/deg0nz/MMM-Public

[2018-06-19 12:31] deg0nz commented on #31
I want to have this feature and I'm going to implement this at some time... Summer and the upcoming festival season cuts time for me.

So any contribution is welcome! Please feel free to make PR. :)

I'm adding the "Help wanted" label now..

[2018-06-19 13:54] berlincount commented on #32
Hm. After checking myself, the right `vbb-client` is being used, and the right endpoint is being called. It's just that that endpoint is fscked ...

[code]

No idea how to solve that.

[2018-06-19 13:55] berlincount commented on #32
I've opened https://github.com/derhuerst/vbb-rest/issues/29

[2018-06-19 14:45] deg0nz commented on #32
I had a look on [https://status.transport.rest/](https://status.transport.rest/) and the endpoint seems to be down the whole day today...

[2018-06-19 14:46] berlincount commented on #32
Must've been down for _days_, then .. or the monitor is giving false negatives.

[2018-06-20 10:31] Juliadtc commented on #32
hey guys, has someone fixed the problem? I am stuck with: error while fetching departures: Error: Gateway Time-out for a couple of days now and cant find any solution

[2018-06-20 10:32] rejas commented on #32
like @deg0nz wrote: the api endpoint at transport.rest seems to be down. no chance for this module to get data from there, thats why we get errors.

[2018-06-20 10:34] Juliadtc commented on #32
yep, any experience how long such a downer will last? Thanks for your answer

[2018-06-20 10:36] rejas commented on #32
no experience from my side, your best bet is to follow this issue: https://github.com/derhuerst/vbb-rest/issues/29

[2018-06-22 05:18] philipppfrank commented on #32
Same problem here.

[2018-06-22 21:31] deg0nz commented on #32
The outage of the API has never been so long before. So please check https://status.transport.rest once in a while. If the problem still exists when the API is available again, I'll look into the issue later.

I'll be off the grid for about two weeks from Tuesday on, so I kindly ask you all to be patient till mid July :)
If there are still errors, pull requests are more than welcome ;)

[2018-06-22 21:44] rejas commented on #32
I will keep an eye on it (this issue, the other issue, the endpoint) enjoy your off-grid-time!

[2018-06-28 15:14] rejas commented on #32
Endpoint should be reachable again.
To everyone using this module: consider supporting the provider of the API @derhuerst (for details look into the ticket https://github.com/derhuerst/vbb-rest/issues/29#issuecomment-401064247)

[2018-06-28 15:35] berlincount commented on #32
Hm. Maybe this should be a sidecar to deploy locally, i.e. everyone should be able to run the VBB REST translation service locally instead of depending on an external third party ...

[2018-06-28 15:40] derhuerst commented on #32
Author of `vbb-rest`, the API behind `2.vbb.transport.rest` here.

A [`504` error](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_Server_errors) indicates that the VBB API, which the `2.vbb.transport.rest` wraps, returned an error. This is something I can't fix.

Users can actually check this by inspecting `node_modules/vbb-client`. The `version` in `node_modules/vbb-client/package.js

[2018-06-28 19:33] ferby09 opened #33 "Bus logo shown as undefined with new server host"
After @juliuste 's selfless help regarding the server problem of the last days, I'm encountering the following problem now:
I use the module to see when certain busses and a certain train are departuring. Bus and train have a separate entry in my config. The logo for the U-Bahn is shown as usual but the busses just show a purple background with "undefined" written on it. I still can see the depart

[2018-06-30 13:35] rejas commented on #33
yes, bus line logos dont show up in my mirror neither since then. can't imagine that @derhuerst changed something though...

[2018-06-30 19:22] juliuste commented on #33
I basically `git clone`d [`vbb-rest@2`](https://github.com/derhuerst/vbb-rest/tree/2), the only possible error on "our" side that I could imagine would be if the instance of vbb-rest running on the old server was somehow not exactly identical to branch `@2` on GitHub. @derhuerst could this be the case?

[2018-07-01 10:29] ferby09 commented on #33
Sure, but I'd need some instructions on how to do that. :P

[2018-07-01 11:39] derhuerst commented on #33
Best would be the URL that your magic mirror fetched that data from (including the station and time) and the response. AFAIK magic mirrors are browser-based, so you could use the network inspector for getting the request.

Alternatively, tell me a station ID and a time and I will try to find the reason.

But most likely, the error will be in the displaying code (this repo) anyways.

[2018-07-01 13:28] Wominator commented on #33
Hi!
Same issue here. The Station-ID is Friedrich-Wilhelm-Str. / 900000068353

![mm-ptb-fehler](https://user-images.githubusercontent.com/27849722/42134846-331382f0-7d43-11e8-9410-04c3b39f7876.PNG)

Regards
womi

[2018-07-01 13:57] derhuerst commented on #33
[code]

[code]

[2018-07-01 14:05] derhuerst commented on #33
@deg0nz

- Please send an identifier all the time. You may send different ones if you're testing though. https://github.com/deg0nz/MMM-PublicTransportBerlin/blob/390b60d65a5749bd4c0844789ece3a097d6e4880/VbbFetcher.js#L49
- You might want to display canceled departures as well. https://github.com/deg0nz/MMM-PublicTransportBerlin/blob/390b60d65a5749bd4c0844789ece3a097d6e4880/VbbFetcher.js#L74
- Sort

[2018-07-01 15:03] ferby09 commented on #33
@derhuerst, Maybe you should create a new branch from the working code on your server and let @juliuste use that instead. This would at least rule out the possibility of a crucial change in the code as the main reason for this problem.

[2018-07-01 18:33] derhuerst commented on #33
I had deployed `2` before. @juliuste has as well AFAIK. So that shouldn't be an issue.

[2018-07-01 20:33] rejas commented on #33
was the "name" field for busses always a single string? looking at the MMM-PTB code I see a split command that now seems to be the culprit:
https://github.com/deg0nz/MMM-PublicTransportBerlin/blob/390b60d65a5749bd4c0844789ece3a097d6e4880/MMM-PublicTransportBerlin.js#L406

[2018-07-01 23:05] juliuste commented on #33
@derhuerst Could it be that updated a dependency of the VBB REST API that handles line parsing which in turn changed the line names from `Bus 184` -> `184`. *In-range* dependency updates could explain why "my" endpoint might give different results to yours.

[2018-07-02 08:58] derhuerst commented on #33
@juliuste Yes, [you're right](https://github.com/public-transport/hafas-client/blame/8923bcb6194bd927cfd3e984b573d07d60c0523e/p/vbb/index.js#L45).

@deg0nz I think the way forward is to remove special `line.name` handling an strip "Bus " etc. up the chain, e.g. in `hafas-client`.

[2018-07-14 18:09] ferby09 commented on #32
Unfortunately it happened again...

[2018-07-15 09:08] derhuerst commented on #32
Yup, working on a mitigation. Follow derhuerst/vbb-rest#29 for more details.

It might be the case that there's no long-term solution and we have to shut down the API though.

[2018-07-15 19:38] ferby09 commented on #33
The module is working again thanks to several mirrors hosted at now.sh, but this problem persists. So @deg0nz, could you please try to implement the changes suggested above?

[2018-07-15 22:37] derhuerst commented on #33
No wait! I'll soon set up the mirrored API, but I haven't yet.

[2018-07-16 07:59] deg0nz commented on #33
@ferby09 I'll implement this eventually. Just don't know when there's time to do it.

And I'll wait for @derhuerst to complete the new setup.

[2018-07-16 08:01] deg0nz commented on #29
The problem lies within the time comparison of the fetcher as mentioned in https://github.com/deg0nz/MMM-PublicTransportBerlin/issues/33

[2018-07-16 10:06] deg0nz commented on #33
#34 Should solve this issue. Thanks to @rejas again!

I reopen this issue to remind me that I wanted to implement the hints by @derhuerst. Will close this afterwards.

[2018-07-16 20:30] deg0nz commented on #33
11a2f93 implemets the hints. Closing.

[2018-07-16 20:30] #33 closed

[2018-07-16 20:42] deg0nz commented on #29
11a2f93 should solve this problem

[2018-07-16 20:42] #29 closed

[2018-07-16 20:48] ferby09 commented on #32
I just cloned the repo from scratch including commit 11a2f93, but I'm getting "Fehler bei Daten abrufen" again. I even changed the fetch url in node_modules/vbb-client/lib/request.js to a mirror hosted on now.sh, because it did the trick the last couple of days but to no avail.

[2018-07-16 20:50] deg0nz commented on #32
Yeah, I have that error too, but it does not come from upstream I guess. I'm investigating...

@ferby09 Is your error object on the mirror empty? (showing "{}"?)

[2018-07-16 21:35] deg0nz commented on #32
@ferby09 I did a workaround for the error I had with 6f935b2. Could you please pull the current version and check, if the problem persists?

[2018-07-16 21:37] derhuerst commented on #32
The repo I asked people to deploy/mirror is not the regular HTTP API (`vbb-rest`), but a WebSockets API (`hafas-client-rpc`). Therefore you can't change the the magic mirror to point to the WebSockets server.

**If you want to use your own HTTP API (`vbb-rest`) server, you're welcome to do so. Less requests on `2.vbb.transport.rest` will reduce the change of for it to get blocked again.** But if y

[2018-07-16 21:57] deg0nz commented on #32
Yeah, I understood that :)

Maybe I could change the setup for the mirror module to run the `vbb-rest` server locally on the mirror machines. Since some people are using the module now, that could make sense... I'll think about that.

But as I see at first sight, I could also change the module to use `hafas-client-rpc` instead of `vbb-client` though...

[2018-07-17 07:14] derhuerst commented on #32
If you can run all Node modules on a magic mirror, use `vbb-hafas`, `hafas-client`! It directly queries HAFAS. We should make the user agent mandatory, for the VBB to be able to tell who causes traffic.

[2018-07-17 08:35] deg0nz commented on #32
Yeah, you can run any Node module on a mirror. I'll put this on my roadmap to use `vbb-hafas`/`hafas-client` locally. I hope, the new system with load balancing will withstand until then...

Could you clarify what you mean by that? Do you mean we should set the user agent of a locally running `vbb-hafas` instance to something that identifies the MagicMirror?

[2018-07-17 08:40] derhuerst commented on #32
Yes. I should make a user agent string mandatory in `hafas-client`. You should, if possible, ask for a descriptive user agent like "alex's magic mirror".

This will

- reduce the number of requests with `derhuerst` in the user agent (VBB complained about that, but if they see it's not all me, but other people, they might understand),
- help them lock out *individual* clients that act abusive by se

[2018-07-18 04:54] ferby09 commented on #32
I did a clean clone of the repo again and even restarted my pi but the error persists.
{"isHafasError":true,"message":"Internal Server Error","statusCode":500}

[2018-07-18 08:12] derhuerst commented on #32
@ferby09 I need more info to be able to reproduce.

[2018-07-18 16:48] rejas commented on #32
I get this error too, but only when I use the field "directionStationId"
Otherwise the data flows correctly unto my mirror.
So maybe that direction-Feature is buggy (as it was mentioned in the README).

[2018-07-18 17:45] ferby09 commented on #32
I'm using directionStationId as well and as @rejas suspected the error disappeared when I commented this out. Unfortunately it is the most important feature for me as I'd have way too much irrelevant output without it.

[2018-07-19 08:46] derhuerst commented on #32
Yup, it's buggy. Follow derhuerst/vbb-rest#31. I might be able to fix it tomorrow.

[2018-07-21 12:58] derhuerst commented on #32
As you might have noticed, the endpoint is down again because VBB has blocked the new nodes as well. **I won't run the public endpoint at `2.vbb.transport.rest` for the time being.** Maybe VBB and I will find a compromise when we meet next month. Refer to derhuerst/vbb-rest#29 for more details.

If you want to use consume VBB data using JavaScript, use [`vbb-hafas`](https://github.com/derhuerst/vb

[2018-07-21 13:07] derhuerst commented on #27
**I won't run the public endpoint at `2.vbb.transport.rest` for the time being.** Maybe VBB and I will find a compromise when we meet next week. Refer to derhuerst/vbb-rest#29 for more details.

From the updated `vbb-rest` readme:

[2018-07-21 13:08] derhuerst commented on #25
**I won't run the public endpoint at `2.vbb.transport.rest` for the time being.** Maybe VBB and I will find a compromise when we meet next week. Refer to derhuerst/vbb-rest#29 for more details.

From the updated `vbb-rest` readme:

[2018-07-23 12:21] malu58 opened #35 "Update error"
I have a issue on update. Any idea to fixes it ?

![npm-install](https://user-images.githubusercontent.com/41577051/43076135-82d72d68-8e83-11e8-81b1-67e58af9d844.JPG)

[2018-07-23 12:32] rejas commented on #35
That seems to be only a warning which shouldnt be a problem per se.  Or what do you think want to be fixed?

[2018-08-01 13:57] berlincount commented on #32
I wasn't able to convert `MMM-PublicTransportBerlin` to `vbb-hafas` correctly - can someone lend a hand? .. I think polling individually might solve a lot of problems, but this might want a configurable option?

[2018-08-02 08:48] deg0nz commented on #32
@berlincount What do you exactly mean by "but this might want a configurable option"?

Configure the module to use either `vbb-client` or `vbb-hafas`?

I successfully got `hafas-client` working on my mirror with the module. Gonna push the changes to master in the next hour. Let's see how long this works...

[2018-08-02 11:47] berlincount commented on #32
@deg0nz yeah. but I think using HAFAS directly is probably the best option either way :-/

[2018-08-02 16:45] derhuerst commented on #32
@deg0nz Are you using `hafas-client@next`?

[2018-08-03 09:26] deg0nz commented on #32
@derhuerst No, I just installed the current version of `vbb-hafas` via npm. What are the advantages to use `hafas-client@next`?
It would be no problem to convert it to `hafas-client` with the VBB profile for me though...

[2018-08-03 09:28] deg0nz commented on #35
@malu58 Do you have any updates on @rejas' question?

This error actually shouldn't be a problem... It's not nice, but things like that happen very often in the npm universe...

[2018-08-06 11:55] deg0nz commented on #32
@berlincount

Yeah, I think so too... We'll just leave it as it is for now...
I'll just have to implement the mandatory user-agent stuff for future versions of `hafas-client` as it was added in https://github.com/public-transport/hafas-client/commit/5d9d738152e60855388e22e9d1b88b5ca21d4c37 and will be feature of the next version.

[2018-08-06 12:32] berlincount commented on #32
I'm happily seeing trains again on my mirror (with Ringbahn showing train numbers instead of icons, though), so .. it's in a useful state again for me.

My two cents: I'd love the User-Agent to be something helpful, e.g. `MagicMirror/2.4.1 (x86_64; de-de) Electron/2.0.6 node/6.12.2 MMM-PublicTransportBerlin/1.2.4 vbb-hafas/4.2.1 hafas-client/2.3.2` over something `berlincount's MagicMirror 1.2.3`

[2018-08-06 13:25] greenkeeper[bot] opened #36 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-06 19:36] derhuerst commented on #32
What is your motivation to send such a `user-agent` to the VBB/BVG API?

I made the `user-agent` parameter mandatory (with the next major version of `hafas-client`) in order to show VBB that people use the API for their projects, while making clear that it is *not me* who send the requests.

[2018-08-06 22:57] berlincount commented on #32
Uhm, because that's the definition of `User-Agent` per https://tools.ietf.org/html/rfc2616?

[code]

Differing software versions would also be an indicator of different users, AND a clear indication to VBB what kind of software is using their service for what perpose would allow for better planning on their side, especially as OpenSource Software's characteristics can be better understood when you

[2018-08-08 17:29] derhuerst commented on #32
Okay, then I have misunderstood you. Obviously @deg0nz can adapt `MMM-PublicTransporBerlin` to pass a very specific `User-Agent` into `hafas-client`. Fine with me!

While that is true theoretically (and most likely HaCon analyses the distribution of their app versions), in practice they block clients based on the `User-Agent`. Providing a more detailed (hence more unique) one will only increase yo

[2018-08-08 17:30] derhuerst commented on #32
For the latest updates on their blocking efforts, see https://github.com/derhuerst/vbb-rest/issues/29#issuecomment-411469242.

[2018-08-23 07:10] deg0nz commented on #35
Since this one had no activity for a while, I'm closing it now.

[2018-08-23 07:10] #35 closed

[2018-08-23 07:15] deg0nz commented on #32
Hi all,

since the BVG endpoint seems to work for some days now (see https://status.transport.rest), I changed the module to use `hafas-client` with the BVG profile with commit 09bee5c. Let's see how long this will work...

@derhuerst How are your experiences with VBB-Stations in Brandenburg with the BVG profile? Are they still supported like in the VBB profile?

[2018-08-23 07:25] deg0nz opened #37 "Update readme for a new method to get the stationId"
Maybe via `hafas-client` directly on the mirror

[2018-08-23 08:01] derhuerst commented on #32
Living in Berlin, I have a strong Berlin bias, but from my experiences, the VBB station IDs should work.

You can test it by looping through [`vbb-stations`](https://npmjs.com/package/vbb-stations) and using `hafas-client.stop(id)` to check if HAFAS knows about them.

[2018-08-23 20:42] deg0nz commented on #32
This is true for me as well (the Berlin bias). I'll try the Brandenburg stations when I find time to do so.

[2018-08-28 10:02] deg0nz commented on #37
Done with d137555ace4497f2b19142eeca21699a93c3c1df

[2018-08-28 10:02] #37 closed

[2018-09-12 10:16] der-eismann opened #38 "Departures not shown in order"
Hey, thank you for the great module!

However I just setup a new instance and have some problems with the order of the departures shown (picture was taken at 12:10):
![bildschirmfoto vom 2018-09-12 12-09-56](https://user-images.githubusercontent.com/10406217/45418516-f78dbe00-b684-11e8-8f61-2efe9597fd2f.png)

As you can see the U5 at 12:20 is shown as unreachable, although I set 5 minutes as `trav

[2018-09-13 16:13] ferby09 opened #39 "directionStationId not working"
First of all thank you again for your hard work in cooperation with @derhuerst and making this module usable again.
Unfortunately I can't get the directionStationId to work like it did with vbb-rest. The IDs are the same with bvg-rest, but it isn't working as I can still see the lines in the other direction.
Is this an issue in bvg-rest?

[2018-09-13 19:43] ferby09 commented on #39
Thank you for your quick response, I'll have a look. But I can't remember having issues with it when you were still using the vbb-client.

[2018-09-14 10:59] deg0nz commented on #39
Alright, then I‘ll try to find time this weekend to look into it.

Von meinem Mobiltelefon gesendet. B.

[2018-09-16 19:55] deg0nz commented on #39
Commit 6319c4508772898aac072bb8da807aef0a535000 should fix this issue. The code used the old `nextStation` parameter which was changed to `direction` I think.

@ferby09 Could you please check if this works for you and close the issue afterwards?

[2018-09-16 19:56] deg0nz commented on #39
As I'm playing around a little bit... `nextStation` still gives answers.. and the amount of returned station differs from `direction`.

@derhuerst: What is the difference between these two?

[2018-09-16 20:02] deg0nz commented on #32
So the module is working fine with the BVG-Profile for almost a month now. I will close this issue.
If you encounter any problems like this feel free to open it again (or create a new issue).

[2018-09-16 20:02] #32 closed

[2018-09-16 20:10] deg0nz commented on #38
hmm... This is indeed weird behaviour.

Do you still encounter this issue? Or was it a one time thing?

[2018-09-16 21:37] derhuerst commented on #39
It's an obscure technical one: [`direction` uses a HAFAS parameter and therefore returns whatever HAFAS understands by "in direction"; `nextStation` uses `hafas-departures-in-direction`, which queries enough departures and then filters those that actually pass by the stop/station.](https://github.com/derhuerst/hafas-rest-api/blob/bb6d60759971770fac6fa3fe500d84ac5daac0d1/routes/departures.js#L33-L5

[2018-09-17 06:10] der-eismann commented on #38
I'm still encountering it, one departure is always sorted too low (here between 08:17 and 08:21). However I noticed that this doesn't happen at night, when there are only 5-6 departures.
Is the listing sorted by your module or do you use the order provided by the BVG?

![screenshot_2018-09-17-08-03-51-1](https://user-images.githubusercontent.com/10406217/45608035-a00a9c00-ba50-11e8-99fb-1b7c90c418

[2018-09-19 16:56] deg0nz commented on #39
@ferby09 Any updates?

[2018-09-30 12:09] bertbln opened #40 "excludeDelayFromTimeLabel not working"
Hello, I think the Option "excludeDelayFromTimeLabel" is not working

[2018-09-30 13:49] bertbln commented on #40
SORRY!  It was my fault... I thought the time difference would not appear in the table, it works korrekt!
Thanks for this nice piece of software!

[2018-09-30 14:03] deg0nz commented on #38
I think I fixed the error with ccd3a84.

After a change in the sorting some time ago, I forgot to actually compare the *times* if the departures. Instead, I was comparing the *whole departures object* 🤦‍♂️. But it seemed to work most of the time though...

@der-eismann Could you please pull the current version of the module and verify if this works for you?

[2018-09-30 14:06] deg0nz commented on #40
Ahh, so you wanted to have the realtime information removed from the table?

[2018-09-30 14:07] #40 closed

[2018-10-01 17:39] ferby09 commented on #39
I'm sorry for my late reply but I was kind of busy because my Magic Mirror's power supply was malfunctioning so I couldn't test it until now.
It works perfectly fine now, thank you very much!

[2018-10-01 17:40] #39 closed

[2018-10-01 17:58] ferby09 commented on #38
Had the same issue the since one of the last commits but it's fixed for me now. Thanks again!

[2018-10-01 18:13] derhuerst commented on #39
Please document your findings here!

[2018-10-02 08:45] der-eismann commented on #38
I can also confirm that it's fixed, thanks for your work!

[2018-10-02 08:45] #38 closed

[2018-11-28 23:56] deg0nz commented on #17
hey, @foliveira3101!

Thanks for offering your help! Actually, I don't need help with this particular issue.

I already implemented the functionality with use of [`vbb-line-colors`](https://github.com/derhuerst/vbb-line-colors/). Now, the actual colors for tram and regional are added to the color palette.
I'm currently testing this on my mirror and want to add some error handling. A commit with th

[2018-11-29 14:54] deg0nz commented on #17
Commit 51d0728ffe4d25301398e543e6cb68411f16d5bd implements this feature. Closing now.

[2018-11-29 14:54] #17 closed

[2019-03-02 12:18] deg0nz commented on #31
This could be nicely implemented with [`cached-hafas-client`](https://github.com/derhuerst/cached-hafas-client). This way, we could save some more data for future departures if needed...

Let's see, when the sqlite version is out and check if this is not overkill...

[2019-04-21 15:05] #36 closed

[2019-04-21 15:51] deg0nz commented on #31
So, a small update on that: [`cached-hafas-client`](https://github.com/derhuerst/cached-hafas-client)  seems to be perfect for the job without much effort for implementing this feature.

Although I would like to wait until the SQLite datastore is implemented, so we don't have to bother MagicMirror-users to install a Redis server on their machines. With SQLite we will probably be able to automate a

[2019-04-24 19:46] deg0nz opened #43 "GOTO: Async world"
Change all the functions marked with `//TODO: Make this function async` to work with `async/await` to get rid of all the `.then()`s (Edit: Currently in develop branch)

List to check:
* [x] `VbbFetcher.js`
* [x] `node_helper.js`

[2019-08-13 22:35] bsq1 opened #45 "module is not showing after fresh install"
I have a fresh installed raspi running raspbian buster on it and a fresh installation of MagicMirror.
I tried to add the MMM-PublicTransportBerlin - module but it doesn't appear on the screen. The example config isn't running as well.

Running the former installation of my MagicMirror the module worked without any problems but it wasn't up to date anymore.

[2019-08-27 22:22] #45 closed

[2019-09-11 07:51] malte1989 opened #46 "Startup crash with example config"
Widget crashes, even with the default configuration.
node_modules were installed.

Transportation fetcher created. (Station ID: 9160003)
Whoops! There was an uncaught exception...
TypeError: dbClient.departures is not a function
    at DbFetcher.fetchDepartures (/home/pi/MagicMirror/modules/MMM-PublicTransportDB/DbFetcher.js:56:21)
    at Class.getDepartures (/home/pi/MagicMirror/modules/MMM-Publi

[2019-09-11 08:42] deg0nz commented on #46
I think you are in the wrong repository. The error message you sent ist from another module called `MMM-PublicTransportDB`. This is `MMM-PublicTransportBerlin`.

Maybe you have it from here: https://github.com/ostfilinchen/MMM-PublicTransportDB
Or the fork of my module for DB transportation here (which is more likely): https://github.com/olexs/MMM-PublicTransportDB

The code bases of these project

[2019-09-11 08:42] malte1989 commented on #46
You are right

[2019-09-11 08:42] #46 closed

[2019-09-11 08:50] deg0nz commented on #46
I just wanted to make that suggestion :D
Here's a link to [MMM-PublicTransportHafas](https://github.com/raywo/MMM-PublicTransportHafas)

[2019-09-25 21:35] mip44 opened #47 "The module is not working"
Hi, I have some troubles with this module.

I installed it correctly with the given commands and I can also see the Folder.
Then I copied the example (alexander Platz) into the Magic mirror config where all the other modules are.
When I start MM nothing happens, all other modules load smoothly, but not the transportation module, not even an error message. It’s just like the code of this module isn

[2019-10-03 12:52] AtzeTRue commented on #47
No u didn't. I've got the same problem, no resolution.

[2019-10-03 12:52] AtzeTRue commented on #47
No u didn't. I've got the same problem, no resolution.

[2019-10-03 23:54] deg0nz commented on #47
Hi, sorry for the delayed reply, I‘m on holidays right now...

You did realize, that there is a lot of dummy data in the example config? This one is actually for demonstrating all the possible options. Maybe I should add another example config to the readme with working data in it...

Can you please try to use a minimal config first? Maybe just add the station ID and the module position (all the n

[2019-10-04 01:19] AtzeTRue commented on #47
Oh that work's for me, thank you very much, great job!

[2019-10-10 13:50] deg0nz commented on #47
@mip44 is the issue solved for you as well? I would like to close this issue.

[2019-10-26 13:11] mip44 commented on #47
sorry for the late response and thanks, yes it is working now.

[2019-10-26 13:22] deg0nz commented on #47
@mip44 That's good news :)
I'm closing this now.

[2019-10-26 13:22] #47 closed

[2020-05-09 14:28] derhuerst commented on #33
FYI:

- I have set up [`v5.vbb.transport.rest`](https://v5.vbb.transport.rest/), which has slightly more intuitive route names and documentation.
- I have opened https://github.com/public-transport/transport.rest/issues/2 for the long-term perspective of these APIs.

[2020-05-09 14:35] derhuerst commented on #27
**I have set up [`v5.vbb.transport.rest`](https://v5.vbb.transport.rest/), the successor of `3.vbb.transport.rest`.** As usual, unfortunately the response format has changed slightly (to the format of [`hafas-client@5`](https://github.com/public-transport/hafas-client/tree/5), make sure to check its [migration guide](https://github.com/public-transport/hafas-client/blob/5/docs/migrating-to-5.md)).

[2020-09-01 21:50] deg0nz commented on #43
Done and merged into master with 677f7944b16e26e9527d90171fcb962b9348ca55

[2020-09-01 21:50] #43 closed

[2020-09-10 12:38] derhuerst commented on #27
I have deprecated `3.vbb.transport.rest` and will shut it off in a month. Please migrate to [`v5.vbb.transport.rest`](https://v5.vbb.transport.rest/).

[2020-09-16 20:48] deg0nz commented on #27
@derhuerst Thanks for the reminder! I migrated to hafas 5.x with commit 658b48c5114f6fc2d6d50174aa55719297642c93

[2020-09-16 21:09] derhuerst commented on #27
Just noticed that the deprecation warning is somewhat irrelevant for this project because, unlike a public API endpoint, `hafas-client` versions won't be shut off. You can of course continue using them, but they won't receive bug requests (except explicit requests for backports) and won't have all the new features.

[2020-09-16 21:15] deg0nz commented on #27
Oh, Ok... I didn't look into the code of the HAFAS Client and the Profiles. I thought that when I use the corresponding profile, I automatically use the new endpoints with new `hafas-client` versions.

So the updated endpoints and APIs are only in use for the specific clients (e.g. `vbb-hafas` or `bvg-hafas`)?

I already thought about re-migrating to VBB or BVG, because it seems that the VBB-Outag

[2020-09-16 23:10] derhuerst commented on #27
Do we have a misunderstanding here? There are a lot of counterintuitive versioning schemes involved here:

- `v5.vbb.transport.rest` is [`vbb-rest#5`](https://github.com/derhuerst/vbb-rest/tree/5), which uses `vbb-hafas@7`, which uses `hafas-client@5` with the VBB profile.
- `3.vbb.transport.rest` is [`vbb-rest#3`](https://github.com/derhuerst/vbb-rest/tree/3), which uses `vbb-hafas@6`, which uses

[2020-09-16 23:11] derhuerst commented on #27
You don't need to do anything here, except to check that your code works with the `hafas-client@5` response structures.

[2020-09-17 06:39] deg0nz commented on #27
Alright. Okay, that is good to know. Was a litte bit confusing tbh...
Thanks fo clarifying!

[2020-09-17 07:14] derhuerst commented on #27
Yeah, the reason why I bumped the `transport.rest` APIs from `3`/`2` to `v5` is to make it less confusing: From now on, their version will follow the `hafas-client` version.

[2020-09-27 15:57] Timmeey opened #55 "Multiple Modules for the same `stationId` with different config, show the same data regardless of different `directionStationId`configuration"
### TLDR:
When having two modules for the same `stationID` but with different `directionStationID`s, it shows the same result for both modules.

### Expected behavior:
Each module uses its own config from the MM config file

### Actual behavior:
Modules seem to be using a random(or the last occurrence) config from the MM config file based on the same `StationID`

### Description
First of all, than

[2020-09-27 20:17] deg0nz commented on #55
Thanks for the detailed error report! This is definitely a bug within the MM-Module.

Since module instances are identified by the stationId, both instances get the same data, because the listen to the same data trigger. The correct data for the second instance will be downloaded to the mirror, but both instances react to the same answer, so the data is always the same. I've never tested the modul

[2020-09-27 21:58] Timmeey commented on #55
I'm by no means a JS/Node Dev. But from what I can see, the fetchers are kept in a map, while the key to the fetcher is the station ID.

For my particular case, using the given `config.Name` would help. But this might not be backwards compatible for other users, which are already using multiple modules, but did not give them a name.

So my totally uninformed suggestion to make a backwards compatib

[2020-09-28 20:50] #55 closed

[2020-09-28 20:54] Timmeey commented on #55
Thanks for the change. But this will break older setups, that did not provide a name, as the name was not a required parameter.

[2020-09-28 20:54] deg0nz commented on #55
Oh that's crazy. I didn't know, that mentioning "fix" and the issue is closing it :)

The issue should be fixed now. Please open it, if you still encounter issues @Timmeey.

With commit 22947de2498518e546b4359666efb42077cad765 you are also able to configure if you want to show directions in the module's header.

[2020-09-28 20:58] deg0nz commented on #55
Yeah, I'm aware of that. We will see, if this breaks a lot of stuff. After some thinking, this was the best option to not unnecessarily increase code complexity.

And since it was already mentioned that this value should be set, we have the prerequisites to do it that way.

[2020-09-28 22:14] deg0nz commented on #55
I added a Fallback options for generating the module name on startup, if it is empty or points to default.
With commit b03eaae0c6c49716bf2cec5eced543175cc761d3 all the changed should be backwards compatible.

[2020-11-02 20:57] Soteyy opened #56 ""There are currently no departures at this station""
Hi,

I've been getting this message on my MM for fairly busy station, so far the only one I could get to work is Alexanderplatz as in your example.
Any idea what I'm doing wrong?

This is my configured module:
[code]

Thank you in advance, big fan of the idea of this module!

[2020-11-11 14:35] deg0nz commented on #56
Maybe you need to remove the line `excludedTransportationTypes: "bus,suburban,subway",`?

[2020-12-22 22:22] deg0nz commented on #56
@Soteyy Last call before closing this because of inactivity: Do you have any updates on this?

[2021-01-18 11:20] deg0nz commented on #56
Closing because of inactivity. Feel free to reopen if the issue persists.

[2021-01-18 11:20] #56 closed

[2021-02-22 20:46] berlincount opened #59 "Odd fetcher crash"
[code]

gets me `Error while fetching departures (for module Instance S+U Gesundbrunnen): TypeError: Cannot use 'in' operator to search for 'bg' in undefined`, preventing rendering of this instance. The other one works.

[2021-04-15 07:24] dschemp commented on #59
This error seems to occur in `node_helper.js` at Lines `141-147`.

It faults, when the variable `color` is undefined, which may only happens if the type of line is `suburban`, `subway`, `tram` or `regional` where we look up the colors in a table. I had the same problem but with the tram line 18 (which is not defined in the `lineColors.tram` array.
I am tbh not sure where you got the line colors an

[2021-04-15 07:30] deg0nz commented on #59
Thanks for finding this. The colors come from this module: https://github.com/derhuerst/vbb-line-colors

[2021-04-15 07:45] deg0nz commented on #59
Yeah. I think you found a bug in `vbb-line-colors`. It seems that there is a tram line 19 instead of 18 in the tram array, but according to [Wikipedia](https://de.wikipedia.org/wiki/Stra%C3%9Fenbahn_Berlin), there only is a line 18.

Now, we just need to know, what is going on around Gesundbrunnen to address @berlincount's error. Obviously, there is another line missing that has a stop there. Tram

[2021-04-15 07:48] dschemp commented on #59
I am guessing there is some sort of regional train missing?

The module does not seem to reference official sources right now (it's an open issue). Might look into it aswell.

[2021-04-15 08:01] deg0nz commented on #59
I don't know, but I have an idea, how we can find this out easily. Just take your approach of #61 and make the colors more obvious.

[2021-04-15 08:22] dschemp commented on #59
It's the FEX! It runs over Hbf and Gesundbrunnen.
Your version of `vbb-line-colors` does not yet have the FEX included.

[2021-04-15 14:10] dschemp commented on #59
I've created a PR over on [vbb-line-color](https://github.com/derhuerst/vbb-line-colors/pull/6) with the latest changes. If you want, you can watch and update your app when the PR gets approved and the package updated.

[2021-04-19 09:09] deg0nz commented on #59
This issue should have been fixed with #61.

[2021-04-19 09:09] #59 closed

[2021-04-21 15:42] berlincount commented on #59
oh, wow - thank you! :)

[2021-10-01 14:23] hildwin opened #62 "Error: station ID must be a valid IBNR."
I found in the logs an error regarding a missing INBR:

`[01.10.2021 15:58.44.520] [ERROR] Error: station ID must be a valid IBNR.
    at Object.formatStation (/home/pi/MagicMirror/modules/MMM-PublicTransportBerlin/node_modules/hafas-client/p/bvg/$
    at Object.stop (/home/pi/MagicMirror/modules/MMM-PublicTransportBerlin/node_modules/hafas-client/index.js:285:53)
    at BvgFetcher.getDirectionDes

[2021-12-26 19:12] KristjanESPERANTO commented on #62
The module works for me. Please show your config of the module.

[2021-12-28 14:56] berlincount opened #64 "Allow configuring timezone"
The timezone of my host system is configured as UTC (Europe/Reykjavík comes close) without daylight saving, and while I can configure the display TZ for the clock (via it's `timezone` configuration option), I can't for MMM-PublicTransportBerlin, resulting in always wrong times :-/

[2021-12-30 10:46] deg0nz commented on #64
Hi @berlincount,

I don't really understand what you want to do. The departure times are directly taken as they are received from the backend. Why would one have them in another TZ? If you are in another timezone, how do you want to catch trains in Berlin?

I can add a timezone change, but I don't know when I will find time for this. PRs are definitely welcome.

[2021-12-30 20:22] berlincount commented on #64
Right now, my clock is showing 21:21, and MMM-PTB is showing trips for starting 20:21-20:29 .. I've no idea what's going on under the hood and whether that are actually 21:21-21:29 trips, but ... it's certainly not correct :)

[2021-12-30 20:28] deg0nz commented on #64
I understand. Could you please paste your module config here?

[2021-12-30 20:49] berlincount commented on #64
sure! somewhat complete config:

[code]

note the difference in times on the clock and in the departures

but huh, env for node seems to be different than expected 🤔

[code]

thanks for the help, and have a good start into the new year!

[2022-01-08 11:16] vwegert opened #66 "fetcher errors (TypeError, invalid-json)"
After pulling the December changes, I'm seeing the following error multiple times right after MM2 startup:

[code]

When the UI is loaded, the following errors appear:

[code]

[2022-01-09 11:41] ahaupt commented on #66
Also seeing this, but I'd rather think it's a problem with the BVG api service. See example from https://v5.bvg.transport.rest/api.html

[code]

[2022-01-09 14:30] mazim-co commented on #66
Same here. Getting the same error above. Any ideas how to fix this?

[2022-01-10 08:43] deg0nz commented on #66
Thanks for reporting. This looks like an error that is out of our reach. I wasn't able to find an issue ticket in `hafas-client`.

I will jut ping @derhuerst here, maybe he can help us to narrow this error down.

[2022-01-10 20:05] derhuerst commented on #66
AFAIK this is due to the user agent that is being passed into `hafas-client` during initialisation. It seems like BVG or HaCon blocks certain User-Agents, because https://v5.bvg.transport.rest was down and I fixed it by changing the user agent.

[2022-01-12 12:20] KristjanESPERANTO commented on #66
My PR I improves the situation. But I still get in rare cases the error message `FetchError: invalid json response body at https://bvg-apps-ext.hafas.de/bin/mgate.exe? reason: Unexpected end of JSON input`. Nevertheless, departures are displayed with this fix.

I suggest not closing this issue yet, even if my PR has been merged. It would be nice if we could find out the cause of the error message.

[2022-01-13 18:42] #66 closed

[2022-01-13 18:44] deg0nz commented on #66
This issue was closed because of merging #67. Please feel free to open again of you encounter any errors

[2022-01-15 16:50] KristjanESPERANTO commented on #64
@berlincount: As a workaround you could add 60 minutes to `travelTimeToStation` :slightly_smiling_face:

I just tested it with your timezone and configuration. Looks like it works.

[2022-01-17 15:08] berlincount commented on #64
Seems to work for me as well, albeit requests for VBB info seems to be stuck a bit lately.

[2022-01-17 18:51] KristjanESPERANTO commented on #64
Are you using the current version of the module? We recently made some changes.

[2022-01-17 20:23] deg0nz commented on #64
@berlincount

https://github.com/deg0nz/MMM-PublicTransportBerlin/commit/3935145222cd033e482918aa02f6afa1ea3bd2ae adds timezone support. Please open this issue again if it is not working as expected

[2022-01-17 20:23] #64 closed

[2022-01-17 20:35] deg0nz commented on #6
Won't do. It has been so long without this feature so I assume nobody needs it. Please feel free to re-open this if you actually need it

[2022-01-17 20:35] #6 closed

[2022-01-17 20:56] #18 closed

[2022-02-09 12:59] VinceBln opened #69 "make changes in design? size, color, brightness and more?"
**Is it possible to edit the font and size? How can you change the color and brightness of the symbols (depature, label, direction).**

I am glad about every answer :)

With kind regards
Vincent

[2022-02-09 13:18] deg0nz commented on #69
Currently it is not possible to change this stuff. The module uses the global configuration of the mirror for font sizes and colors.

What exactly do you want to achieve? / What is the exact problem?

The colors for the line symbols are the original color codes for the respective lines (mostly taken from Wikipedia).

You would have to change the values in the CSS file of the module. There is also

[2022-02-09 13:41] VinceBln commented on #69
The problem is, once the glass is on, you can hardly recognize the gray icons and texts...
What can be done about the problem?

You can see the problem in the picture
![IMG_2384](https://user-images.githubusercontent.com/99336496/153212823-3d5e253c-8a8a-49a2-9faa-57579aeff22f.jpg)

[2022-02-09 14:46] VinceBln commented on #69
and can you edit the width of the tables? to make them equal..
thank you

[2022-02-09 18:53] KristjanESPERANTO commented on #69
In your custom.css you could do something like that:

[code]
Depending on your resolution it could look like this:
![Ekrankopio de 2022-02-09 19-52-32](https://user-images.githubusercontent.com/35647502/153269973-8d2e0359-9bff-419b-9a97-d9a47745a488.png)

[2022-02-11 09:16] deg0nz commented on #69
The provided solution by @KristjanESPERANTO is the way to go.

@VinceBln Follow the insructions for custom CSS and adjust as needed: https://docs.magicmirror.builders/modules/customcss.html

[2022-02-11 09:27] deg0nz commented on #62
I'm closing this isue because there was no response from the issuer. Feel free to reopen if needed.

[2022-02-11 09:27] #62 closed

[2022-02-16 09:04] deg0nz commented on #69
I assume, the isue is solved. Please feel free to reopen if the problems still exist.

[2022-02-16 09:04] #69 closed

[2022-03-17 11:00] VinceBln opened #71 "MagicMirror - How to change the font?"
We are beginners in Raspberry and Magic Mirror.
How can we change the font on modules in general? Is something like this possible?

Thx for every help we get.

Vincent

[2022-03-17 11:18] deg0nz commented on #71
Hi @VinceBln

This is actually a question [for the forum.](https://forum.magicmirror.builders)

It has also already been answered there: https://forum.magicmirror.builders/topic/8758/change-fonts
And has been asked in various versions: https://forum.magicmirror.builders/search?term=change%20font&in=titles

I'm closing this issue since it is not related to my module. Please seek help about general

[2022-03-17 11:18] #71 closed

[2022-10-21 20:15] OliverHi opened #110 "Cannot read properties of undefined"
Hi I am running this great module on my magic mirror but recently it stopped working spamming this error in the logs
```Error while fetching departures (for module Instance MY_STATION): TypeError: Cannot read properties of undefined (reading 'fetchDepartures')```
where I replaced my station name with `MY_STATION`.

Is this a known error? Otherwise please let me know how I can provide additional in

[2022-10-22 08:13] KristjanESPERANTO commented on #110
The module still works fine for me 🙂. Which MagicMirror version do you have? Are you using the latest version of the module?
Please show us your configuration of the module.

[2022-10-22 12:16] OliverHi commented on #110
I am running version v2.20.0 of MagicMirror currently. The problem started with d2b835d of this module and is still happening with the newest 2b71f13. Now with a different property, `getStationName` this time. My configuration was unchanged (from the former working version) and looks like this:
[code]

[2022-10-22 19:53] KristjanESPERANTO commented on #110
Interesting. Your configuration works for me with MagicMirror v2.20.0.
What npm (`npm -v`) and node version (`node -v`) do you have?

Commit https://github.com/deg0nz/MMM-PublicTransportBerlin/commit/d2b835de634b0fe030d9dbfd13c099f35b138592 should not affect the functionality of the module at all, since stylelint is only used during development and not directly in the module.

[2022-10-22 20:26] OliverHi commented on #110
I am using npm 7.21.1 and node v16.9.1 on a Pi zero using the Midori browser. The interesting part for me is that this exact setup worked some time ago.
I just changed the address in the config from localhost to 0.0.0.0 to be able to check from my PC and ... well it worked there. I checked on the physical mirror too and now its working there (again) too. I am not sure if that is by chance or a res

[2022-10-22 21:52] KristjanESPERANTO commented on #110
Okay, nice that it's working again for now. Maybe there was a problem with the hafas endpoint.

Since I cannot reproduce the error myself, I recommend that you update node, npm and also MagicMirror and see if it occurs again.

[2022-10-24 18:39] rejas commented on #110
Closing this issue, since it seems to be resolved

[2022-10-24 18:39] #110 closed